.root {
    position: relative;
    transition: border-color 150ms ease;
    border: 2px solid transparent;
    
    &[data-checked] {   
        border-color: var(--mantine-primary-color-filled);
    }

    @mixin hover {
        @mixin light {
            background-color: var(--mantine-color-gray-0);
        }

        @mixin dark {
            background-color: var(--mantine-color-dark-6);
        }
    }
}